<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.CourseMapper">
    <resultMap id="courseMap" type="course">
        <!--主键用id标签映射,其他字段用result映射-->
        <id property="courseId" column="id"></id>
        <result property="courseName" column="cname"></result>
        <result property="courseHour" column="chours"></result>
    </resultMap>
    <!--resultType要求字段名和属性名相同,不同时可以使用resultMap-->
    <select id="getCourseList" resultMap="courseMap">
        select * from course;
    </select>
    <select id="getCourse" parameterType="int" resultMap="courseMap">
        select * from course where cid=#{cid}
    </select>

</mapper>  
    